<footer class="footer-bs">
    <div class="row">
      <div class="col-md-3 footer-brand animated fadeInLeft">
          <h2>LuxClean Services</h2>
            <p>About Us - We are a dedicated team of professionals committed to providing exceptional cleaning services to our clients.</p>
            <p>© 2024, All rights reserved</p>
        </div>
      <div class="col-md-4 footer-nav animated fadeInUp">
          <h4>Menu: </h4>
          <div class="col-md-6">
                <ul class="pages">
                    <li><a href="/">Home</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/book-now">Book Now</a></li>
                </ul>
            </div>
          <div class="col-md-6">
                <h4>Contact Info: </h4>
                <ul class="list">
                    <li>info@luxcleanservices.com</li>
                    <li>+1234567890</li>
                </ul>
            </div>
        </div>
      <div class="col-md-2 footer-social animated fadeInDown">
          <h4>Follow Us:</h4>
          <ul>
              <li><a href="#"><i class="fa-brands fa-facebook" style="color: #5bc2ce"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-x-twitter" style="color: #5bc2ce"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram" style="color: #5bc2ce"></i></a></li>
            </ul>
        </div>
    </div>
</footer>