<footer class="footer-bs">
    <div class="row" style="padding-left:120px; padding-right:120px;">
      <div class="col-md-3 footer-brand animated fadeInLeft" style="padding-left:0px;">
          <h2>LuxClean Services</h2>
            <p style="margin-bottom: 2px;">info@luxcleanservices.com</p>
            <p>+1234567890</p>
            <p>Follow us: <a href="#"><i class="fa-brands fa-facebook" style="color: rgba(236, 181, 2, 1); margin-right: 5px"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter" style="color: rgba(236, 181, 2, 1); margin-right: 5px"></i></a>
                <a href="#"><i class="fa-brands fa-instagram" style="color: rgba(236, 181, 2, 1); margin-right: 5px"></i></a></p>
        </div>
      <div class="col-md-4 footer-nav animated fadeInUp">
          <h4>Menu: </h4>
          <div class="col-md-6">
                <ul class="pages">
                    <li><a href="/">Home</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/book-now">Book Now</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="text-align: center; color:rgba(255,255,255,0.70);">
        <h6>Copyright © 2024, All rights reserved.</h6>
    </div>
</footer>