<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <!-- Company Logo -->
        <div class="logo">
          <img src="assets/home-images/cleaning_services_logo.jpg" alt="Logo">
        </div>
  
        <!-- Contact Details -->
        <div class="contact-details">
          <p>Contact Us:</p>
          <p>Email: info@luxecleanservices.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </div>

        <div class="quick-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/services">Services & Prices</a></li>
            <li><a routerLink="/book-now">Book Now</a></li>
          </ul>
        </div>
  
        <!-- Link to "BOOK NOW" form page -->
        <div class="book-now-link">
          <a routerLink="/book-now">BOOK NOW</a>
        </div>
      </div>
    </div>
  </footer>
  