<div class="landing-image">
  <div class="landing-content">
    <h1 class="company-name">Welcome to a cleaner home!</h1>
    <h4 class="contact-number">Call us at: +1234567890</h4>
    <button routerLink="/book-now" class="book-now-btn">Book Now</button>
  </div>
</div>  

<div class="about-us-container">
  <div class="about-us-content">
    <h2>About Us</h2>
    <p>We are a dedicated team of professionals committed to providing exceptional cleaning services to our clients.</p>
    <p>With years of experience and a passion for cleanliness, we ensure that every space we clean is left spotless.</p>
    <p>Our mission is to exceed customer expectations and create healthier environments for all.</p>
  </div>
</div>


<app-faq></app-faq>

<app-reviews></app-reviews>
  