.landing-image {
  background-image: url('/assets/home-images/wide-landing-2.jpeg');
  background-size: cover;
  background-position: center;
  height: 580px; /* Adjust the height as needed */
}

.landing-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.company-name {
  font-size: 50px;
  color: #E5E4E2;
}

.contact-number {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.book-now-btn {
  background-color: #FF2E63;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}
