.landing-image {
  background-image: url('/assets/home-images/wide-landing-2.jpeg');
  background-size: cover;
  background-position: center;
  height: 600px; /* Adjust the height as needed */
}

.landing-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.company-name {
  font-size: 50px;
  color: #F5F5F5;
}

.contact-number {
  font-size: 20px;
  color: #F5F5F5;
  margin-bottom: 20px;
}

.book-now-btn {
  background-color: #FC5185;
  color: #F5F5F5;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}

.book-now-btn:hover {
  background-color: #F5F5F5; /* Change background color on hover */
  color: #FC5185;
}

// About Us: 

.about-us-container {
  overflow: hidden;
  background-color: #F5F5F5; /* Plain background color */
  background-size: cover;
  text-align: center;
}

.about-us-content {
  overflow: hidden;
  padding: 20px;
}

.about-us-container h2 {
  margin-bottom: 20px;
  color: #364F6B; /* Heading color */
}

.about-us-container p {
  color: #000; /* Paragraph color */
  // margin-bottom: 20px; /* Add bottom margin for spacing between paragraphs */
}

