.faq-section {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .mat-toolbar {
    background-color: #FF2E63;
    color: #fff;
    border-radius: 8px 8px 0 0;
  }
  
  .faq-item {
    margin: 10px;
    border-bottom: 1px solid #ddd;
  
    .question {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #f0f0f0;
      }
  
      h3 {
        margin: 0;
        font-size: 1.2rem;
      }
  
      .toggle-icon {
        font-size: 20px;
      }
    }
  
    .answer {
      padding: 10px;
      background-color: #f9f9f9;
    }
  }
  