/* booking-form.component.css */

.booking-form-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  padding: 12px;
  background-color: #2296f7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.button-group {
  display: flex;
}

.frequency-button {
  background-color: white;
  border: 1px solid #999999;
  padding: 10px;
  cursor: pointer;
  color: black;
  margin-right: 10px;
}

.frequency-button.selected {
  background-color: orangered;
  color: #ffffff;
}


.container {
  display: flex;
}


.submit-button:disabled {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 5px 25px;
  margin-left: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

#selected_time::after {
  content: '\25BC'; /* Unicode character for downward arrow */
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.75em;
  pointer-events: none; /* Ensure the pseudo-element doesn't interfere with user interactions */
}

.form-container {
  width: 50%; /* Adjust the width as needed */
  padding: 20px; /* Add padding for spacing */
}

.card-container {
  width: 50%; /* Adjust the width as needed */
  padding: 20px; /* Add padding for spacing */
}

.option-container {
  display: flex;
  align-items: center;
}

.option-label {
  margin-left: 10px;
  font-size: 16px;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin-left: auto;
  cursor: pointer;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  background-color: transparent;
  opacity: 0;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
}

/* Optional: Custom tick design */
input[type="checkbox"]:checked + .custom-checkbox::after {
  content: "\\2713"; /* Unicode checkmark symbol */
  font-size: 14px;
  color: #007bff; /* Change color as needed */
}
